@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Scrollbar Styling */
#terminalContainer ::-webkit-scrollbar {
  width: 20px;
}

#terminalContainer ::-webkit-scrollbar-track {
  --dotSize: 0.05em;
  --bgSize: 0.3rem;
  --bgPosition: 0;
  background-image: radial-gradient(
    circle at center,
    #00ba00 var(--dotSize),
    transparent 0
  );
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
  box-shadow: 0 0 1px white, 0px 0px 6px #ffffff;
}

#terminalContainer ::-webkit-scrollbar-thumb {
  background: #0f0;
  box-shadow: 0 0 1px white, 0px 0px 6px #ffffff;
}

/* Selection Styling */
#terminalContainer ::selection {
  background-color: #0f0;
  color: #000;
  box-shadow: 0 0 1px white, 0px 0px 6px #ffffff;
}

/* Terminal Styling */
#terminal {
  background-color: #000;
  color: #0f0;
  width: 100%;
  height: 90vh;
  overflow-y: auto;
  padding: 0;
  text-shadow: 0 0 1px white, 0px 0px 6px #ffffff;
  font-family: 'VT323', monospace;
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  cursor: url(../../assets/img/cursor-min.png) 9 9, auto;
}

/* Input Line Styling */
#inputLine {
  white-space: nowrap;
  display: flex;
  text-overflow: ellipsis;
  caret-color: transparent;
  letter-spacing: inherit;
}

/* Input Field Styling */
#inputField:hover {
  cursor: url(../../assets/img/cursor-min-text.png) 13 18, auto;
}

#inputField {
  outline: none;
  color: #0f0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-shadow: inherit;
  letter-spacing: inherit;
  padding: 0;
  margin-left: 1rem;
  text-emphasis: none;
  text-decoration: none;
  width: fit-content;
  cursor: url(../../assets/img/cursor-min.png) 9 9, auto;
}

/* Output List Styling */
#outputList div .input {
  margin: 10px 0 0 0;
}

#outputList div .output {
  margin: 0 0 10px 0;
}

/* Cursor Styling */
#cursor {
  position: relative;
  width: 8px;
  height: 1.35rem;
  bottom: -0.15rem;
  box-shadow: 0 0 1px white, 0px 0px 6px #ffffff;
  background-color: #00ff00;
  animation: blink 1.3s step-end infinite;
}

/* Animation Keyframes */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
