.progress-bar {
  height: 1rem;

  --dotSize: 0.05em;
  --bgSize: 0.3rem;
  --bgPosition: 0;
  background-image: radial-gradient(
    circle at center,
    #006b00 var(--dotSize),
    transparent 0
  );
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
}

.progress {
  height: 100%;
  background-color: #0f0;
  box-shadow: 0 0 1px white, 0px 0px 6px #ffffff;
}
